:root {
  /* 色 */
  --c-text: #333; /* テキスト */
  --c-muted: #666; /* ミューテッド */
  --c-bg: #f5f5f5; /* 背景 */
  --c-surface: #fff; /* サーフェイス */
  --c-border: #ddd; /* ボーダー */
  --c-primary: #667eea; /* プライマリー */

  /* 余白 */
  --s-1: 0.25rem;
  --s-2: 0.5rem;
  --s-3: 1rem;
  --s-4: 2rem;

  /* 角丸 */
  --r-1: 0.25rem;
  --r-2: 0.5rem;
  --r-3: 1rem;
  --r-4: 2rem;

  /* タイポ */
  --fs-1: 0.75rem; /* フォントサイズ ルートfontサイズの0.75倍 */
  --fs-2: 1rem;
  --fs-3: 1.25rem;
  --fw-regular: 400; /* フォントウェイト*/
  --fw-bold: 700;
  --lh-base: 1.5; /* ラインハイト フォントサイズの1.5倍 */

  /* 影 */
  --sh-1: 0 1px 3px rgba(0, 0, 0, 0.1); /* 水平方向のズレ、垂直方向のズレ、ぼかしの半径、影の色 */
}
